/* Import de la font Syne depuis Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');



/* Application de la font Syne sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}
/* Couleur des paragraphes */
p {
   color: #000000;
}

.page-id-75 {
    background-color: #3B8E46;
    }

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

 li.menu-item a {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 50px;
 }
 
 li.menu-item a:hover,
 li.menu-item.current-menu-item a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 700;
 }



/* bouton commander */
.ast-custom-button {
    color: #ffffff !important;
    background-color: #DC9F96;
    text-decoration: none !important;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 80px;
    width: 236px;
    border-radius: 0%;
 }

 #masthead .ast-container, .site-header-focus-item {
    padding-right: 0px;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */

  /* footer */

  .site-below-footer-wrap {
    background-color: #ffffff;
    height: 60px;
 }

  /* Footer lien */

  .footer-widget-area a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 400;
 }

 .footer-widget-area a:hover {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 700;
 }



/* ------------------------------------------------------ */
/* PAGE ACCUEIL */
/* ------------------------------------------------------ */

  /* positionnement de la cannette de boisson au 1er plan */

.drink {
	position: absolute;
	z-index: 2;
 }



/* supprimer effet au survol sur le texte des images */
.wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
   transition: none !important;
   transform: none !important; 

      color: #fff;
      /* transition: transform 0.35s, opacity 0.35s ease-in-out; */
      /* transform: translate3d(0, 24px, 0); */
  }





   /* tests formulaire */
 .forminator-ui#forminator-module-280.forminator-design--flat .forminator-repeater-field{
    background-color: transparent !important;
     }


/* contact form 7 */

#wpcf7-f162-p75-o1 .box-form-order {
    display: grid;                     /* affichage en grille */
    grid-template-columns: auto auto;
}

#wpcf7-f162-p75-o1 .box-delivery {
border-left: 1px solid;
border-color: #ffffff;
padding-left: 20px;
}

#wpcf7-f162-p75-o1 .box-infos {
    padding-right: 20px;
}

#wpcf7-f162-p75-o1 .button-order {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

#wpcf7-f162-p75-o1 .city p {
    margin-bottom: 0px;
}

#wpcf7-f162-p75-o1 .quantities-boxes .wpcf7-number {
   width: 51px !important;
   height: 56px;
   padding: 5px;
   border-radius: 5px;
 }


#wpcf7-f162-p75-o1 .quantities-boxes {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }



 /*test autre formulaire*/


 
/* positionnement boutons quantités */
/*#nex-forms .input-group {
   display: flex !important;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: column-reverse;
   align-content: flex-start;
   align-items: flex-end;
}


 /*#nex-forms .input-group {
   display: flex !important;
   flex-direction: row !important;
   align-items: center;
}*/

/*#nex-forms #spinner {
width: 25% !important;
height: 56px;
}


element.style {
   background: #fff;
   box-shadow: #00000033 0px 7px 16px 0px;
   border-radius: 4px;
   padding: 30px;
   border-color: #ddd;
}

#nex-forms .inner-canvas-container button.btn.bootstrap-touchspin-up {
height: 28px;

}

#nex-forms .inner-canvas-container button.btn.bootstrap-touchspin-down {
height: 28px;
   
}



#nex-forms .custom-text {
   color:#ffffff !important;
   font-weight: 700;
}

 /*couleurs boutons formulaire*/

#nex-forms .btn-default {
   background-color: #E0B9B4 !important;

}
#nex-forms .btn-default:hover {
   background-color: #C02E44 !important;

}


/* positionnement boutons OK */
#nex-forms .col-sm-3 {
    width: 25%;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}


/* #nex-forms .input-group-btn .btn .btn-default .bootstrap-touchspin-down {
   display: flex !important;
   flex-direction: column !important;
   justify-content: space-between;
}
*/