/* Import de la font Syne depuis Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

body {
   min-width: 320px;
}

/* Application de la font Syne sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}


.page-id-75 {
    background-color: #3B8E46;
    }

/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

 li.menu-item a {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 50px;
 }
 
 li.menu-item a:hover,
 li.menu-item.current-menu-item a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 700;
 }



/* bouton commander */
.ast-custom-button {
    color: #ffffff !important;
    background-color: #DC9F96;
    text-decoration: none !important;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 80px;
    width: 236px;
    border-radius: 0%;
 }

 #masthead .ast-container, .site-header-focus-item {
    padding-right: 0px;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */

  /* footer */

  .site-below-footer-wrap {
    background-color: #ffffff;
    height: 60px;
 }

  /* Footer lien */

  .footer-widget-area a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 400;
 }

 .footer-widget-area a:hover {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 700;
 }



/* ------------------------------------------------------ */
/* PAGE ACCUEIL */
/* ------------------------------------------------------ */

  /* positionnement de la cannette de boisson au 1er plan */

.drink {
	position: absolute;
	z-index: 2;
 }



/* supprimer effet au survol sur le texte en superposition des images */
.wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
   transition: none !important;
   transform: none !important; 
   color: #fff;
  }


/* Désactiver lien et curseur sur le texte en supperposition des images */
.wp-block-uagb-image--layout-overlay-link {
   cursor: default;
   pointer-events: none;
}

/* Supprimer la marge du bas sur le texte en supperposition des images */
.uagb-image-heading {
	margin-bottom: 0px !important;
}

.container-customer-reviews {
   padding-top: 80px !important;
}

.container-plants-energy {
   padding-top: 80px !important;
}

.separator-plants-energy {
   z-index: 2;
   position: relative;
   background: #ECE2DA;
   height: 90px;
   border-bottom-left-radius: 100% 100% !important;
   border-bottom-right-radius: 100% 100% !important;
   border-bottom: #E3D9D0 8px solid !important;
   margin-bottom: -49px;
}


.container-tastes {


}


/* ------------------------------------------------------ */
/* PAGE NOUS CONTACTER */
/* ------------------------------------------------------ */
.container-global-team {
   position:relative;
}

.team {
   display: flex !important;
   flex-direction: row !important;
   align-items: center;
   justify-content: space-around !important;
   flex-wrap: wrap !important;
   margin: 0% 15% 5% 15%;
}

.team-title {
   margin-top: 140px !important;
}

.team-member {
   width: auto !important;
}

.separator-team {
   border-bottom-left-radius: 30% 100% !important;
   border-bottom-right-radius: 30% 100% !important;
   height: 50px;
   margin-bottom: -47px;
   z-index: 2;
   background: #ECE2DA;
}


/* Positionnement et taille de l'image de la plante du conteneur équipe */
.team-plant {
   position:absolute;
   height: 219px;
   width: 191px;
   right: 50px;
   bottom: -2px;
   margin-left: 50px;
}

/* conteneur nous rencontrer */
.container-meet-txt {
   padding-top: 0 !important;
   padding-bottom: 10px !important;
}
.container-meet-title-and-plant {
   position: relative;
   margin-top: 150px;
}

.meet-plant {
   position: absolute;
   left: -315px;
   bottom: -10px;

}

.meet-title {
   position: absolute;

}

/* ------------------------------------------------------- */
/* contact form 7 : formulaire de contact*/
/* ------------------------------------------------------- */
#wpcf7-f493-p71-o1 .champs {
   width: 383px;
   height: 71px;
   border-radius: 7px;
   border:none;
}

#wpcf7-f493-p71-o1 .champ-textarea {
   height: 237px;
   position:relative;
   z-index: 2;
}

#wpcf7-f493-p71-o1 .box-form-contact {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*.container-global-contact {
position: relative;
}*/

/* Positionnement et taille de l'image des feuilles du formulaire de contact */
.leaves {
position: absolute;
margin: auto;
height: 135px;
width: 147px;
z-index: 1;
bottom: 35px;
left: -70px;
}

.superposed {
position: relative;
}

.button-send {
   margin-left: 72px;  /* supprimer le decalage dû au spinner de chargement */

}

/* ------------------------------------------------------- */
/* contact form 7 : formulaire de précommande*/
/* ------------------------------------------------------- */

/* Bordure du haut vos commandes */
#wpcf7-f162-p75-o1 .cf7-order-form { 
   border-top: 1px solid;
   border-color: white;
}


#wpcf7-f162-p75-o1 .cf7-order-form h3 {
   margin-top: 30px;
   margin-bottom: 30px;
}


/* Couleur des titres */
#wpcf7-f162-p75-o1 h3 { 
   color: #ffffff;
}

/* Conteneur global partie commande  */
#wpcf7-f162-p75-o1 .quantities-boxes {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border-bottom: 1px solid;
   border-color: #ffffff;
   margin-bottom: 30px;
   gap: 20px;
 }

 /* Images fruits */
 #wpcf7-f162-p75-o1 .quantities-boxes img {
   height: 128px;
}

/* Elements superposés */
#wpcf7-f162-p75-o1 .superposed-elements-fraise {
   /*position: absolute;*/
   background-image: url(http://localhost/planty/wp-content/uploads/2023/06/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 128px;
   width: 192px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#wpcf7-f162-p75-o1 .superposed-elements-pamplemousse {
   background-image: url(http://localhost/planty/wp-content/uploads/2023/06/estudio-bloom-tOitjphtIXU-unsplash-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 128px;
   width: 192px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#wpcf7-f162-p75-o1 .superposed-elements-framboise {
   background-image: url(http://localhost/planty/wp-content/uploads/2023/06/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 128px;
   width: 192px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#wpcf7-f162-p75-o1 .superposed-elements-citron {
   background-image: url(http://localhost/planty/wp-content/uploads/2023/06/estudio-bloom-ezqnxsqUZ80-unsplash-1.png);
   background-repeat: no-repeat;
   background-size: contain;
   height: 128px;
   width: 192px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#wpcf7-f162-p75-o1 .superposed-elements {


}

#wpcf7-f162-p75-o1 .superposed-elements h2 {
   font-size: 20px;
   color: #ffffff;
}

/* Conteneur global par variété */
#wpcf7-f162-p75-o1 .fruit-box  {
   display: flex;
   flex-direction: column;
}

#wpcf7-f162-p75-o1 .quantity-box  {
   display: flex;
   margin-top: 10px;
}

/* Boutons ok */
#wpcf7-f162-p75-o1 .btn-ok  {
   margin-left: 10px;
   height: 56px;
   width: 100px;
}
   
/* Redimensionnement des champs nombres */
#wpcf7-f162-p75-o1 .cf7-quantities {
   width: 51px !important;
   height: 56px;
   padding: 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   text-align: center;
 }


/* Boutons + */
#wpcf7-f162-p75-o1 .btn-plus  {
   height: 28px;
   border-bottom: 1px solid #ffffff;
   width: 31px;
   padding: 0;
   border-top-left-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #DC9F96;
}

/* Boutons - */
#wpcf7-f162-p75-o1 .btn-minus  {
   height: 28px;
   width: 31px;
   padding: 0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 0;
   background-color: #DC9F96;
}


 /* Bordure et redimensionnement de la taille des champs dans infos et livraison */

 #wpcf7-f162-p75-o1 .champs {
   display: flex;
   height: 71px;
   width: 383px;
   border:none;
   border-radius: 7px;
}

/* Affichage des 2 colonnes d'informations client */
#wpcf7-f162-p75-o1 .box-form-order {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
#wpcf7-f162-p75-o1 .box-form-order label {
   color: #ffffff;
}

/* Padding et bordure à gauche sur conteneur livraison */
#wpcf7-f162-p75-o1 .box-delivery {
   border-left: 1px solid;
   border-color: #ffffff;
   padding-left: 30px;
   }

/* Padding à droite sur conteneur infos */
#wpcf7-f162-p75-o1 .box-infos {
   padding-right: 30px;
}

/* Suppression de la marge du bas sous le champ ville */
#wpcf7-f162-p75-o1 .city p {
   margin-bottom: 0px;
}


 /* Bouton commander */
#wpcf7-f162-p75-o1 .button-order {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.button-order input {
   height: 55px;
   width: 198px;
   margin-left: 72px;  /* supprimer le decalage dû au spinner de chargement */
}


/* ------------------------------------------------------- */
/******************* Media queries *************************/
/* ------------------------------------------------------- */


@media (max-width: 921px) {
/*header*/

.ast-header-button-1 {
   height: 48px;
}
.ast-header-button-1:hover {
   background-color: #C02E44;
}

.ast-custom-button {
   height: 48px;
   padding-top: 15px !important;
   background-color: transparent;
}
.ast-custom-button:hover {
   background-color: transparent;
}

   
}


@media (min-width: 320px) and (max-width: 992px){ 
   .page-id-75 .wp-block-group {
      padding: 50px 0;
   }
   

/* ------------------------------------------------------- */
/* contact form 7 */
/* ------------------------------------------------------- */

/* Bordure du haut vos commandes */
#wpcf7-f162-p75-o1 .cf7-order-form { 
padding-top: 30px;
}


/* Affichage des 2 colonnes d'informations client */
#wpcf7-f162-p75-o1 .box-form-order {
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px;
   gap: 20px;
}



/* Suppression padding à droite sur conteneur infos */
#wpcf7-f162-p75-o1 .box-infos {
   padding-right: 0px;
}

/* Centrage et espacement des conteneurs de chaque variété */
#wpcf7-f162-p75-o1 .quantities-boxes {
   justify-content: center;
   margin-right: 10px;
   margin-left: 10px;
}

/* Titres page commander*/
#wpcf7-f162-p75-o1 h3 { 
   color: #ffffff;
   text-align: center;
}


}


/* /////////////////////////////////////////  */
/* Ecrans téléphones très petits (max 350px) */
/* /////////////////////////////////////////  */
@media (max-width: 350px) { 


   .meet-title {
      padding-left: 20px !important;
      padding-right: 20px !important;
   }
   .meet-plant {
      left: -50px;
      bottom: 5px;
      width: 70px;
  }


  .team-plant {
   right: -10px;
}

.container-plants-energy p {
   padding-left: 40px !important;
   padding-right: 40px !important;
}


/* ------------------------------------------------------- */
/* contact form 7 */
/* ------------------------------------------------------- */


   /* Affichage des 2 colonnes d'informations client une sous l'autre */
   #wpcf7-f162-p75-o1 .box-form-order {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px;
      gap: 20px;
   }
   
   /* Suppression padding à droite sur conteneur infos */
   #wpcf7-f162-p75-o1 .box-infos {
      padding-right: 0px;
   }

/* Suppression padding et bordure à gauche et ajout bordure en haut sur conteneur livraison */
   #wpcf7-f162-p75-o1 .box-delivery {
      border-left: none;
      border-top: 1px solid #ffffff;
      padding-left: 0px;
      padding-top: 30px;
   }
   
   .button-order input {
      margin-left: 0;
      justify-content: center;
      display: flex;   
   }

   /* Centrage et espacement des conteneurs de chaque variété */
   #wpcf7-f162-p75-o1 .quantities-boxes {
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
}

   /* Titres page commander*/
   #wpcf7-f162-p75-o1 h3 { 
      text-align: center;
   }

}


/* /////////////////////////////////////////  */
/* Ecrans téléphones (max 480px) */
/* /////////////////////////////////////////  */
@media (max-width: 480px) { 
   

/*#wpcf7-f162-p75-o1 .btn-minus  {
   margin-top: -18px;
}*/


.separator-team {
   border-bottom-left-radius: 70% 100% !important;
   border-bottom-right-radius: 70% 100% !important;
}


/* ------------------------------------------------------ */
/* PAGE ACCUEIL */
/* ------------------------------------------------------ */

.customer-reviews {
   font-size: 14px !important;
}

/* ------------------------------------------------------ */
/* PAGE NOUS CONTACTER */
/* ------------------------------------------------------ */
/* conteneur nous rencontrer */

.container-meet-txt {
   margin-bottom: 10px !important;
}

.container-meet-title-and-plant {
   position: relative;
   margin-left: 10px;
   margin-top: 30px;
}

.meet-plant {
   position: absolute;
   bottom: -10px;
   width: 80px;
}



.meet-title h2 {
   margin-bottom: -20px;
   }


.container-global-meet {

}

/* conteneur l'équipe */

/* Positionnement et taille de l'image de la plante du conteneur équipe */
.team-plant {
   height: 135px;
   width: 120px;
   transform: rotate(30deg);
}

.team-title {
   margin-top: 60px !important;
   margin-bottom: -30px !important;

}

/* ------------------------------------------------------- */
/* contact form 7 : formulaire de contact*/
/* ------------------------------------------------------- */
#wpcf7-f493-p71-o1 .champs {
   width: 100%;
}

.container-global-contact {
 margin-right: 30px !important;
 margin-left: 30px !important;
}

.leaves {
   bottom: 20px;
}



/* ------------------------------------------------------ */
/* PAGE COMMANDER */
/* ------------------------------------------------------ */

   /* Redimensionnement de la taille des champs dans infos et livraison */
   #wpcf7-f162-p75-o1 .champs {
     display: flex;
     height: 71px;
     width: 100%;
  }

}

/* /////////////////////////////////////////  */
/* Ecrans téléphones (entre 350px et 480px) */
/* /////////////////////////////////////////  */

@media (min-width: 350px) and (max-width: 480px) {
   .meet-title {
      padding-left: 50px !important;
      padding-right: 50px !important;
   }

   .meet-plant {
      left: -30px;
  }

  .team-plant {
   right: 5px;
}

}


/* devices (entre 826 et 992px) */
@media (min-width: 826px) and (max-width: 992px) {
/* Padding et bordure à gauche sur conteneur livraison */
#wpcf7-f162-p75-o1 .box-delivery {
   border-left: 1px solid;
   border-color: #ffffff;
   padding-left: 20px;
   }
   }

/* devices (entre 826 et 847px) */
@media (min-width: 826px) and (max-width: 847px) {
 /* Redimensionnement de la taille des champs dans infos et livraison */
 #wpcf7-f162-p75-o1 .champs {
   display: flex;
   height: 71px;
   width: 375px;
}
}

/* devices (entre 320 et 825px) */
@media (min-width: 320px) and (max-width: 825px) {

/* Suppression padding et bordure à gauche et ajout bordure en haut sur conteneur livraison */
#wpcf7-f162-p75-o1 .box-delivery {
   border-left: none;
   border-top: 1px solid #ffffff;
   padding-left: 0px;
   padding-top: 30px;

   }



}

/* /////////////////////////////////////////  */
/* Ecrans téléphones paysages (entre 481px et 767px) */
/* /////////////////////////////////////////  */

@media (min-width: 481px) and (max-width: 767px) {
   .team-plant {
      right: 5px;
      height: 150px;
      width: 140px;
   }

   .meet-plant {
      left: -50px;
      bottom: 20px;
      width: 100px;

}
}


/* /////////////////////////////////////////  */
/* Ecrans tablettes (entre 768px et 1023px) */
/* /////////////////////////////////////////  */

@media (min-width: 768px) and (max-width: 1023px) {

   .team-plant {
      height: 185px;
      width: 170px;
      right: 10px;
  }
  .meet-plant {
   left: -330px;
   bottom: -10px;
}

}

/* /////////////////////////////////////////  */
/* Ecrans tablettes (entre 977px et 1023px) */
/* /////////////////////////////////////////  */

@media (min-width: 977px) and (max-width: 1023px) {

   .team-plant {
      height: 195px;
   }


}

/* /////////////////////////////////////////  */
/* Ecrans (entre 1024px et 1200px) */
/* /////////////////////////////////////////  */

@media (min-width: 1024px) and (max-width: 1200px) {

   .team-plant {
         right: 10px;
         transform: rotate(20deg);
         bottom: 10px;
      }


}
